@import "fonts";
@import "core/normalize";
@import "core/variables";
@import "core/typography";

html {
	font-size: 62.5%;
	color: $baseGrey;
	overflow: hidden;
	font-family: $fontMain;
}

.content-wrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: $background;
}
