@import "./../../core/variables";

.wrapper {
	position: relative;
	margin: 5vh 10vw;
	padding: 72px;
	height: 90vh;
	width: 80vw;
	border-radius: 16px;
	box-sizing: border-box;
	background-color: $paleGrey;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		left: 100%;
		top: 100%;
		margin: -330px 0 0 -330px;
		width: 700px;
		height: 700px;
		transform: rotate(-45deg);
		background-color: $primary;
	}
	.puzzle {
		position: absolute;
		bottom: 72px;
		right: 72px;
		height: 88px;
		display: flex;
		justify-content: flex-end;
		z-index: 50;
		&-element {
			flex-wrap: wrap;
			max-width: 80px;
			margin: 0 4px;
			border: none;
			border-radius: 4px;
			text-align: center;
			background-color: $darkGrey;
			pointer-events: none;
			transition: color .3s ease-in;
			&--inactive {
				color: $darkGrey;
			}
		}
		.blank {
			background-color: $baseGrey;
		}
	}
	.missed {
		height: 60px;
		min-width: 50%;
		margin-left: 45%;
		p {
			padding-left: 8px;
		}
		ul {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				text-align: center;
				width: 48px;
				padding: 0 4px;
			}
		}
	}
	.hangman {
		position: absolute;
		top: 32px;
		left: -100px;
		width: 450px;
		height: 800px;
		transform: scale(.9);
		.bar {
			position: relative;
			width: 100%;
			margin-left: -20%;
			z-index: 0;
		}
		.guy {
			img {
				position: absolute;
				top: 0;
				left: 0;
			}
			.head {
				top: 8%;
				left: 49%;
				z-index: 5;
			}
			.neck {
				top: 30%;
				left: 65%;
				z-index: 0;
			}
			.corpus {
				top: 36%;
				left: 59%;
				z-index: 10;
			}
			.left {
				&-arm {
					top: 36%;
					left: 40%;
					z-index: 5;
				}
				&-hand {
					top: 48%;
					left: 39%;
					z-index: 0;
				}
				&-leg {
					top: 54%;
					left: 52%;
					z-index: 5;
				}
				&-foot {
					top: 73.5%;
					left: 43%;
					z-index: 0;
				}
			}
			.right {
				&-arm {
					top: 36%;
					left: 73%;
					z-index: 5;
				}
				&-hand {
					top: 48%;
					left: 95%;
					z-index: 0;
				}
				&-leg {
					top: 54%;
					left: 71.5%;
					z-index: 5;
					transform: scaleX(-1);
				}
				&-foot {
					top: 73.5%;
					left: 80%;
					z-index: 0;
					transform: scaleX(-1);
				}
			}
		}
	}
	.game-over {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(#3b4163, 0.75);
		z-index: 100;
		&-text {
			position: absolute;
			width: 300px;
			height: 60px;
			left: 50%;
			top: 50%;
			margin: -45px 0 0 -150px;
			text-align: center;
		}
		@import "./../global/restartButton";
	}
}
@media screen and (max-width:1400px) {
	.wrapper {
		height: 95vh;
		width: 90vw;
		margin: 2.5vh 5vw;
		.puzzle {
			height: 80px;
			&-element {
				max-width: 72px;
			}
		}
		.hangman {
			transform: scale(.7);
			top: -44px;
		}
	}
}

@media screen and (max-width:1140px) {
	.wrapper {
		height: 95vh;
		width: 95vw;
		margin: 2.5vh 2.5vw;
		.puzzle {
			height: 72px;
			&-element {
				max-width: 64px;
			}
		}
		.hangman {
			transform: scale(.6);
			top: -80px;
		}
	}
}