h1, h2, h3, h4, h5, p {
	color: $baseGrey;
	margin: 0;
	padding: 0 0 .8rem 0;
}

p {
	color: $darkGrey;
	font: 1.6rem/1.8rem $fontMain;
}

.game-input {
	color: $paleGrey;
	font:  4.6rem/4.6rem $fontMain;
	text-transform: uppercase;
}

.missed-char {
	color: $primary;
	font: 3.8rem/14rem $fontMain;
}


