h1, h2, h3, h4, h5, p {
	color: $baseGrey;
	margin: 0;
	padding: 0 0 .8rem 0;
	text-transform: uppercase;
}

h1, .h1 {
	font: 5.6rem/5.2rem $fontMain;
}

h2, .h2 {
	font: 4.6rem/4.2rem $fontMain;
}

h3, .h3 {
	font: 3.8rem/3.4rem $fontMain;
}

p {
	color: $darkGrey;
	font: 1.6rem/1.8rem $fontMain;
}

.game-input {
	color: $paleGrey;
	font:  3.8rem/3.8rem $fontMain;
	text-transform: uppercase;
}

.missed-char {
	color: $primary;
	font: 4.6rem/4.6rem $fontMain;
	text-transform: uppercase;
}


